
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  margin-bottom: 10px;
}

.input-group label {
  flex-basis: 150px;
  font-weight: bold;
  color: #333;
}

.input-group input {
  flex-grow: 1;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  background-color: #0098db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.output {
  margin-top: 20px;
}

.output h3 {
  font-size: 18px;
  color: #333;
}

.output p {
  margin-top: 5px;
}


.wallet {
  background-color: red !important;
  justify-content: center;
}